<div class="row" ng-controller="ListingsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Update Listing</h3>
      <form name="listingForm" class="form-horizontal" ng-submit="update(listingForm.$valid, listing)">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="name">Name (Current: {{listing.name}})</label>
            <input name="name" type="text" ng-model="name" id="name" class="form-control" placeholder="Name">
          </div>
          <div class="form-group" show-errors>
            <label for="code">Code (Current: {{listing.code}})</label>
            <input name="code" type="text" ng-model="code" id="code" class="form-control" placeholder="Code">
          </div>
          <div class="form-group">
            <label for="address">Address (Current: {{listing.address}})</label>
            <input name="address" type="text" ng-model="address" id="address" class="form-control" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
